@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya:wght@400;700&display=swap');

body {
    font-family: $font-family__base;
}

h1,
h2,
h3,
h4 {
    font-family: $font-family__heading;
}

h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: $font-size__xxl;
}

h2 {
    font-size: $font-size__xl;
}

h3 {
    font-size: $font-size__l;
    margin-bottom: $indent__base;
}

h4,
h5,
h6 {
    font-size: $font-size__base;
}

p {
    line-height: 1.6;
}