$bg1: #FBE8DE;
$bg2: #CBF4EB;
$accent: #FF846C;
$accent2: #7FD1AE;
$text-dark: #222;

$indent__base : 20px;
$indent__s : 10px;
$indent__l : 40px;
$indent__xl : 60px;
$indent__xxl : 120px;

$default-font-size: 16px;

$font-size__base: 1em;
$font-size__l: 1.5em;
$font-size__xl: 2.25em;
$font-size__xxl: 3em;
$font-size__s: .75em;

$font-family__heading: 'Alegreya', serif;
$font-family__base: Avenir, Helvetica, Arial, sans-serif;;